main {
    background-color: #fff;
    color: black;
    font-size: 16px;
}

.current {
    background-color: red;
}

.addmessage {
    display: inline;
    color: red;
}

button {
    font-family: 'icomoon';
    height: 20px;
    width: 26px;
    background-color: none;
}