/* 主要内容 */
main {
    background-color: white;
    color: black;
}

main a {
    color: #428bca;
    font-size: .1333rem;
}
main .POVyilan {
    height: .6667rem;
    width: 96%;
    margin: 0 auto;
    padding-top: .375rem;
    border-bottom: .0083rem solid #cccccc ;
    font-family: "Palatino Linotype";
    font-weight: 400;
    font-size: .4rem;
}

.renwubiao {
    width: 96%;
    height: 5rem;
    margin: 0 auto;
}
.renwubiao h4 {
    padding: .2083rem 0 .1rem 0;
    font-size: .2333rem;
    font-weight: 400;
    font-family: "Palatino Linotype";
    line-height: .2167rem;
}
.renwubiao .lei1 {
    float: left;
    width: 33%;
}
.renwubiao .lei2 {
    float: left;
    width: 33%;
}
.renwubiao .lei3 {
    float: left;
    width: 33%;
}
.renwubiao ul {
    margin: .1083rem 0 .075rem .2133rem;
    line-height: .1917rem;
}
.renwubiao ul li {
    margin-top: .0417rem;
    list-style-type: disc;
    font-size: .1rem;
}
