/* 主要内容 */
main {
    background-color: white;
}
.leftjieshao {
    float: left;
    margin: .375rem .1917rem 0 .3667rem;
}
.leftjieshao img {
    width: .6667rem;
    height: .6667rem;
}
.jieshao {
    float: left;
    margin-top: .4rem;
    color: black;
    font-size: .1167rem;
}

.jieshao h4 {
    font-size: .15rem;
    font-style: none;
    margin-bottom: .1833rem;
}

.tuijian {
    float: right;
    margin: .3333rem 1.275rem 0 0;
    width: 2.0833rem;
    height: 2.7083rem;
    color: black;
}

.tuijian ul>li {
    width: 2.0833rem;
    height: .4167rem;
    background-color: #337ab7;
    margin-bottom: .125rem;
    box-shadow: .0833rem .0833rem rgba(0, 0, 0, .3);
}

.tuijian ul>li a {
    display: block;
    overflow: hidden;
    width: 2.0833rem;
    height: .4167rem;
    text-align: center;
    line-height: .4167rem;
    font-size: .15rem;
}

.tuijian ul>li a img {
    float: left;
    width: .5rem;
    height: .4167rem;
    vertical-align: middle;
}

.tuijian ul>li a img:hover{
    transform: scale(1.2);
}
