/* 主要内容 */
main {
    background-color: white;
}

.jieshao {
    display: flex;
    flex-direction: row;
    height: 181px;
    color: black;
    padding-top: .4583rem;
    padding-left: .4583rem;
}

.jieshao img {
    width: .675rem;
    height: .675rem;
}

.wenzi {
    width: 7.6667rem;
}
.jieshao h4 {
    font-size: .2333rem;
    margin-bottom: .0833rem;
}

.jieshao p {
    font-size: .1333rem;
}


.tuijian {
    float: right;
    margin: .3333rem 1.275rem 0 0;
    width: 2.0833rem;
    height: 2.7083rem;
    color: black;
}

.tuijian ul>li {
    width: 2.0833rem;
    height: .4167rem;
    background-color: #337ab7;
    margin-bottom: .125rem;
    box-shadow: .0833rem .0833rem rgba(0, 0, 0, .3);
}

.tuijian ul>li a {
    display: block;
    overflow: hidden;
    width: 2.0833rem;
    height: .4167rem;
    text-align: center;
    line-height: .4167rem;
    font-size: .15rem;
}

.tuijian ul>li a img {
    float: left;
    width: .5rem;
    height: .4167rem;
    vertical-align: middle;
}

.tuijian ul>li a img:hover{
    transform: scale(1.2);
}
