/* 默认设置 */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?570ghh');
    src:  url('fonts/icomoon.eot?570ghh#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?570ghh') format('truetype'),
      url('fonts/icomoon.woff?570ghh') format('woff'),
      url('fonts/icomoon.svg?570ghh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

* {
    padding: 0;
    margin: 0;
}

.w {
    width: 90%;
    margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-family: icomoon;
}

body {
    background-color: black;
    color: white;
}
/* 默认设置 */
/* 标题栏 */
header {
    height: 55px;
    background-image: url(icon/main.png);
    background-repeat: no-repeat;
    background-position: left center;
}

header h2{
    height: 55px;
    font-size: 26px;
    line-height: 55px;
    font-weight: 400;
    margin-left: 45px;
}
/* 标题栏 */
/* 导航栏 */
nav {
    height: 50px;
}

nav ul>li {
    float: left;
    height: 50px;  
}

nav ul>li a {
    display: block;
    height: 25px;
    padding: 15px 15px 10px 15px;
    font-size: 16px;
    margin-right: 1px;
}

nav ul>li a:hover {
    background-color: #2a6496;
}

.search {
    float: right;
    width: 500px;
    height: 50px;
}

.search input {
    float: left;
    width: 445px;
    height: 30px;
    margin: 10px 0 10px 0;
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
    border-radius: 5px 0 0 5px;
}

.search input:hover {
    border: 1px solid #00a4ff;
}

.search button {
    float: left;
    width: 36px;
    height: 34px;
    margin: 8px 0 8px 0;
    border: none;
    background-image: url(icon/search.png);
    border-radius: 0px 0px 5px 5px;
}
/* 导航栏 */
/* 页脚 */
footer {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: white;
    margin-top: 36px;
}

footer .kuozhan {
    position: absolute;
    top: 24px;
    left: 189px;
    width: 75%;
    background-color: white;
    border-top: 1px solid #cccccc;
    padding: 25px 0 200px 0;
}

footer .kuozhan dl {
    float: left;
    margin-right: 150px;
}

footer .kuozhan dl dt{
    color: #4f4f4f;
    font-size: 18px;
    margin-bottom: 18px;
}

footer .kuozhan dl dd a{
    color: #4f4f4f;
    font-size: 12px;
}
/* 页脚 */
