main {
    background-color: #fff;
}

table {
    table-layout: fixed;
}

aside {
    position: fixed;
    top: 100px;
    left: 85px;
    width: 15%;
    height: 100%;
    color: black;
}

aside ul {
    margin-top: 35px;
}

aside ul li {
    height: 46px;
}

aside a {
    display: inline-block;
    padding: 11px 0 11px 22px;
    margin-left: 30px;
    font-size: 13px;
    color: #a6a6a6;
    border-left: 1px solid white;
    transition: all 1s;
}

aside a:hover {
    border-left: 1px solid #6aa3d5;
    color: #6aa3d5;
}

.jianjie {
    width: 80%;
    height: 100%;
    margin-left: 215px;
    background-color: white;
    color: black;
}

.headname {
    height: 88px;
    width: 100%;
    padding: 24px 0 0 0;
    border-bottom: 1px solid #cccccc;
}

.jianjie h1 {
    font-size: 3em;
    font-weight: 400;
}

.infobox {
    display: table;
    float: right;
    width: 300px;
    table-layout: fixed;
    background-color: #222222;
    color: #fff;
}

.infobox-title {
    display: block;
    width: 284px;
    padding: 8px 8px 8px 8px;
    background-color: #881010;
    color: white;
}

.infobox-title th {
    display: block;
    font-size: 16px;
}

.infobox-photo img {
    width: 300px;
}

.infobox-thead {
    display: block;
    width: 300px;
    height: 36px;
    background-color: #337ab7;
    color: white;
}

.infobox-thead th {
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
}


.headline {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 0.5em;
    padding-top: 50px;
}

main p {
    line-height: 1.8;
}

.yinhao {
    border: none;
    width: 20px;
    color: #bbb;
    font: 50px Arial, Trebuchet MS, Georgia, sans-serif;
    line-height: 30px;
}

.quote {
    border: none;
    padding-left: 5px px;
    font-size: 16px;
    font-family: Times New Roman, 楷体, Consolas, 'Microsoft Yahei', 'Open Sans', sans-serif;
}